/* Whole page style */

body {
    background-color: lightgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: black;
    color: white;
    font-size: 5vh;
    text-align: center;
}

/* Column styles */

.col {
    padding: 2vw;
    text-align: center;
    /* visibility: hidden; */
}

.gameInformation {
    background-color: lightgray;
}

/* game buttons */

.wrapper{
    text-align: center;
}

.playerButtons {
    display: none;
}

/* tally boxes for player / dealer scores */

#playerCards, #dealerCards {
    margin-top: 5%;
    width: 15%;
    height: 10%;
    background-color: lightskyblue;
    border: 3px solid black;
    border-style: double;
    border-radius: 10px;
    text-align: center;
    float: left;
  }

  #dealerCards {
      float: right;
  }

/* betting details */

#bettingDetails {
    margin-top: 5%;
}

/* style of cards dealt */

  .playingCard {
      width: 6vw;
      height: 18vh;
      font-size: 2vw;
      word-spacing: 2vw;
      border: 2px solid black;
      float: left;
      margin: 10px;
      visibility: hidden;
      background-color: white;
  }
