/**Code to set column widths as 1/12 of a page**/

* {box-sizing: border-box;}

[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/**Code to make text responsive for smaller screens; make sure that in html, there is the <meta name="viewport" content="width=device-width, initial-scale=1.0">**/

@media only screen and (max-width: 750px) {
    [class*="col-"] {
        width: 100%;
    }
}
    
body {
    background-color: black;
    border: white solid 5px;
    height: 90vh;
    color: white;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}

#btn1, #btn2, #btn3 {
    background-color: yellow;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    margin-left: 10%;

}

#btn3 {
    background-color: orangered;
}

#sentenceQuantity {
    border: black solid 2px;
    background-color: white;
    margin-left: 10%;
    padding: 10px;
}

select {
    margin-bottom: 5%;
}

#intro {
    margin-left: 10%;
    margin-top: 5%;
}