body {
    background-image: url("https://www.keele.ac.uk/scm/newsandevents/events/2019/march/mathsseminardriliakamotski/maths-background-960x640.jpg");
    /* background: rgb(147, 172, 148); */
    color: black;
}

.infoBox {
    background-color: whitesmoke;
    margin-top: 5vh;
    padding: 5%;
    align: center;
    float: left;
    border: 2px solid black;
}

#determination, #determination2, #determination3 {
    visibility: hidden;
    height: 6vh;
    font-size: small;
}

#demo, #demo2, #demo3 {
    height: 35vh;
    overflow: auto;
    background-color: white;

}

